@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    paddding:0;
    margin:0;
   
}

*{
    box-sizing: border-box;
}

.card{
    @apply mb-5 block rounded-lg border-gray-200 shadow-md
}
.primary-button{
   @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500
}