@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    paddding:0;
    margin:0;
   
}

*{
    box-sizing: border-box;
}

.card{
    @apply mb-5 block rounded-lg border-gray-200 shadow-md
}
.primary-button{
   @apply rounded bg-indigo-300 py-2 px-4 shadow outline-none hover:bg-indigo-400 active:bg-indigo-500
}
.default-button{
    @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300
 }

input,
select,
textarea {
    @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
    @apply flex p-2 hover:bg-[#3a37c5];
}

.alert-error {
    @apply  my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
    @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
  }
  
  [data-theme='dark'] {
    --background: black;
    --foreground: white;
  }